/* Add CSS Styling */
p {
    background-color: rgb(244, 130, 130); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.coolclass {
    font-size: 36px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: rgb(106, 243, 106);
    font-size: 24px;
    font-weight: bold;
}